<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Dependencies">
	<test name="Test 1">
		<classes>
			<class name="ClassOne" />
			<class name="ClassTwo" />
		</classes>
	</test>
	<test name="Test 2">
		<classes>
			<class name="ClassOne" />
			<class name="ClassTwo" />
			<class name="ClassThree" />
		</classes>
	</test>
	<test name="Test 3">
		<classes>
			<class name="ClassOne" />
			<class name="ClassTwo" />
			<class name="ClassThree" />
			<class name="ClassFour" />
		</classes>
	</test>
</suite>
